<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="#" itemprop="url">
			<span itemprop="name">METACRAFT</span>
		</a>
		<a class="navbar-burger burger" role="button" data-target="navMenu" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navMenu" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="https://metainfo.github.io/" itemprop="url">
				<span itemprop="name">Информация</span>
			</a>
		</div>
	</div>
</nav>